<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Post Page</title>
</head>
<body>
  <h1>Add a new drum:</h1>
  <form method="POST" action='/drums'>
  	<input type="text" name="instrument" placeholder="what kind of drum?"><br>
  	<input type="text" name="size" placeholder="diameter in inches?"><br>
  	<input type="submit" value="Add Drum">
  </form>
</body>
</html>